body {
    font-family:微軟正黑體;
    
}

.jumbotron h3,
.jumbotron .h3{
    color:white;
    text-shadow:3px 3px 5px black;
}

.label{
    font-size:12pt;
}

#home a{
    width:100%;
}

#myNavbar a{
    color: white;
}

#logo{
    color: white;
}

/*@media(min-width:1100px){
    #copyright{
        position:relative;
    }
}

@media(max-width:480px){
    #copyright{
        /*display:none;*/
        position:static;
    }
}

#index-img {
    width:90%;
    
}

.footer-row {
  margin-right: 0px;
  margin-left: xpx;
}
